<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
  <link rel="icon" type="image/png" href="<%= vite_asset_path('images/favicon.ico') %>">
</head>
<body>
<%= yield %>
</body>
</html>
